<!DOCTYPE html>
<head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 95%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
<script async defer type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=++&callback=initMap"></script>
</body>